.col-md-6.col-md-offset-3
  %h2=t('devis.fgpass')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .field.form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true , :class =>"form-control"
    .actions.text-center
      = f.submit t('devis.sndpassinstruc').to_s , :class => "btn btn-default"
= render "devise/shared/links"